@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.authername{
    color: rgba(255, 255, 255, 0.386);
}
* {
    font-family: 'DM Sans', sans-serif;
    color: white;
    margin: 0 ;
    padding: 0;
}
body{
    background-color: #212125;
    position: relative;
    display: grid;
    place-items: center;
    /* width: initial;
    height:initial; */
}
.header {
    /* border: 1px solid; */
    /* width: 400px; */
    box-sizing: border-box;
    width:100%;
}

.container {
    width: 450px;
    margin: 2px ;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(200, 0, 0);
    position: fixed;
    bottom:40px;
    right: 40px;
    /* transform: translate(-50%,-50%); */
    /* position: absolute; */
    /* display: grid; */
    /* align-content: center;
    justify-content: center; */
    z-index: 1;
}
.d-none{
    display: none;
    width: 0;
}
.tran{
 animation: show .7s ease-in-out ;
/* transition: 3s ease-in-out; */
}
@keyframes show {
    0%{
        /* transform: translateY(-20px); */
        opacity: 0;

    }
    50%{
        /* transform: rotate(-100px); */
        /* transform: translateY(20px); */
        opacity: .5;
    }
    100%{
        /* transform: rotate(100px); */
        transform: translate(0px);

        opacity: 1;
    } 
}

.animateNote{
 animation: animateNote .7s ease-in-out ;
}
@keyframes animateNote {
    0%{
        /* transform: translateY(-20px); */
        /* width: 50px; */
        opacity: 0;
    }
    50%{
        /* transform: rotate(-100px); */
        /* transform: translateY(20px); */
        opacity: .5;
    }
    100%{
        /* transform: rotate(100px); */
        transform: translate(0px);
        /* width: initial; */
        opacity: 1;
    }    
}

.buttonDiv{
    position: fixed;
    bottom: 50px;
    right:  50px;
}
.buttonDiv button{
    border-radius: 50%;
    width: 80px;
    height:80px;
    font-size: 50px;
}

input{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    outline: none;
    border: 2px solid rgba(133, 133, 133, 0);
    border-bottom: none;
    /* font-size: 18px; */
    font-weight: 600;
    height: 50px;
    background-color: #212125;
    font-size: 18px;
}

textarea {
    resize: none;
    box-sizing: border-box;
    border: 2px solid rgba(133, 133, 133, 0);
    background-color: #212125;
    margin: 0 auto;
    width: 100%;
    
    border-radius: 0 0 8px 8px;
    border-top: 0;
    outline: none;
    font-size: 15px;
}

.input {
    padding: 5px 10px;
    
}

.notesContainer {
    padding: 10px;
    min-width: 600px;

    margin:0 auto;
    border-radius: 10px;
   display: grid;
   grid-template-columns: repeat(3,300px);
   gap: 8px;

}
::-webkit-input-placeholder{
    color:rgb(181, 181, 181);
    font-family: 'DM Sans', sans-serif;
}
button{
    background-color:rgb(0, 0, 0);
    color: white;
    padding:5px 25px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    border-color: transparent;
}
button:hover{
    background-color: rgb(91, 91, 91);
    border-color: #00000000;
}
.note {
    padding: 10px;
    border: 2px solid rgb(133, 133, 133);
    border-radius: 8px;
    overflow-y: auto;
}

.header_footer{
    /* display: flex;
    justify-content: space-between; */
    opacity: 1;
}
.header_footer button{
    width: 100px ;
}
.header_footer {
    
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 5px;
}

h2 {
    margin: 5px;
}

h3 {
    margin: 5px;
}

h4 {
    margin: 5px;
}

h5 {
    margin: 5px;
}

h6 {
    margin: 5px;
}

.note p {
    margin: 5px;
    color: rgb(194, 194, 194);
    min-height: 50px;
    /* word-wrap: break-word; */
    /* overflow:visible; */

    /* white-space: nowrap;  */
    /* width: 50px;  */
    /* overflow: hidden;
    text-overflow: ellipsis;  */

}
.note h3{
    /* overflow-x:hidden; */

    white-space: nowrap; 
    /* width: 50px;  */
    overflow: hidden;
    text-overflow: ellipsis; 

}

@media screen and (max-width:650px) {
    .notesContainer{
        /* width: 300px; */
        /* background-color: red; */
        min-width:300px;
    /* height: 400px; */
    
        grid-template-columns: repeat(2,250px);
        gap: 8px;
        padding: 10px;
    }
    .note{
        /* width: 200px; */
        margin: 0px;
        
    }
    .container{
        width: 400px;
       /* height: 150px; */
    }
    
}


@media screen and (max-width:992px){
    .notesContainer{
        /* width: 300px; */
        /* background-color: red; */
        min-width:300px;
    /* height: 400px; */
    
        grid-template-columns: repeat(3,250px);
        gap: 8px;
        padding: 10px;
        /* background-color: blue; */
    }
    .note{
        /* width: 200px; */
        margin: 0px;
        
    }
    .container{
        width: 400px;
       /* height: 150px; */
    }
    
}
@media screen and (max-width:768px){
    .notesContainer{
        /* width: 300px; */
        /* background-color: red; */
        min-width:300px;
    /* height: 400px; */
    
        grid-template-columns: repeat(3,180px);
        gap: 6px;
        padding: 6px;
        /* background-color: rgb(238, 0, 255); */
    }
    .note{
        /* width: 200px; */
        margin: 0px;
        
    }
    .container{
        width: 400px;
       /* height: 150px; */
    }
    
}

@media screen and (max-width:576px){
    .notesContainer{
        /* width: 300px; */
        /* background-color: red; */
        min-width:300px;
    /* height: 400px; */
    
        grid-template-columns: repeat(2,150px);
        gap: 3px;
        padding: 3px;
        /* background-color: rgb(255, 247, 0); */
    }
    .note{
        /* width: 200px; */
        margin: 0px;   
        padding: 5px;
    border: 2px solid rgb(133, 133, 133);
        
    }
    p{
        font-size: 12px;
    }
    h3{
        font-size: 15px;
    }

    .container{
        /* width: 100%; */
        width: 350px;
        /* height: 300px; */
        margin: 1px ;
        padding: 3px;
        border-radius: 5px;
        background-color: rgb(200, 0, 0);
        position: fixed;
        bottom:30px;
        right: 0px;
       /* height: 150px; */
    }
    textarea{
        height: 150px;
    }

    
}







/* body::-webkit-scrollbar */


.alertHandler{
    text-align: center;
    /* height: 20px; */
    box-sizing: border-box;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.307);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border-radius: 50px;
    /* margin-top: 30px; */
    position:absolute;
    /* top: 10px;
    left: 50%;
    transform: translate(-50%,-50%); */
    place-items: center;
}